body {
#	background-color: #F7F7F7;
	margin-top: 3%;
}

#ads-box {
	font-size: 110%;
	width: 50%;
	margin-left: 25%;
}

#1ads-description {
	margin-bottom: 30px;
}

.formLine {
	margin-top: 20px;
}

.slider-wrapper {
}

.nivoSlider {
    position:relative;
    background:url(/lib/nivo-slider/themes/default/loading.gif) no-repeat 50% 50%;
}
.nivoSlider img {
    position:absolute;
    top:0px;
    left:0px;
    display:none;
	border-radius: 15px !important;
}
.nivoSlider a {
    border:0;
    display:block;
}
