body {
#	background-color: #F7F7F7;
}

.help_subject {
	width: 185px;
    color: #ff0033;
    color: #000;
}

.section-title {
	margin-top: 15px;
	margin-bottom: 5;
}

.box p:first-of-type {
	margin-top: 3px;
}

hr:first-of-type {
	margin-bottom: 0px;
}
