iframe {
	position: absolute;
	top: 0;
	left: 0;
	left: 160px;
	right: 0;
	bottom:0
	margin: 0;
	padding: 0;
	border-width: 0;
}

.box {
	margin: 0;
	padding: 0;
}

#support-box {
	margin: 0;
	padding: 0;
}
